---

  version: '3'
    services:
      mongodb:
        image: mongo:4.0.16
        hostname: mongodb
        container_name: mongodb
        ports:
          - 27017:27017
      pymongo:
        build: ./backend
        hostname: pymongo
        container_name: pymongo
        ports:
          - "5000:5000"
        depends_on:
          - mongodb
