<div class="friends-view">

        <div class="friends-elements">
                <div class="friend" *ngFor="let friend of friends">
                    <div class="friend-content">
                            
                        <div class="friend-content-titel">
                            <!--<input type="text" placeholder="Name des ToDO-Punkts">-->
                            <p class="friend-title">{{friend.name}} <br> {{friend.city}}</p>
                            <p class="friend-level">Lvl. {{ friend.lvl }}</p>
                            <div class="friend-progressbar" style="width:{{calculateUserProgress(friend.lvl, friend.points)}}%"></div>
                        </div>
                        <div class="showFriend">
                            <span>></span>
                        </div>
                    </div>
                </div>
            </div>

</div>

