<div id="login-visual">
    <div class="login-content">
        <span class="salutation">Hey!</span>
        <h1>Login</h1>
    </div>    
</div>

<div id="login-form">

    <form action="">
        <div class="label-field">
            <mat-form-field style="display:block !important" class="example-full-width login-field">
                <mat-label class="login-label">Benutzername</mat-label>
                <input class="login-input" matInput placeholder="" value="">
            </mat-form-field>

            <mat-form-field style="display:block !important" class="example-full-width login-field">
                <mat-label class="login-label">Passwort</mat-label>
                <input class="login-input" matInput placeholder="" value="">
            </mat-form-field>

            <button id="login">Login</button>

            <p>Passwort vergessen?</p>

            <hr>

            <button id="signin">Registrieren</button>
        </div>
    </form>

</div>