<div id="signin-visual">
        <div class="signin-content">
            <span class="salutation">Willkommen!</span>
            <h1>Signup</h1>
        </div>    
    </div>
    
    <div id="signin-form">
    
        <form action="">
            <div class="label-field">
                <mat-form-field style="display:block !important" class="example-full-width login-field">
                    <mat-label class="signin-label">Deine E-Mailadresse</mat-label>
                    <input class="signin-input" matInput placeholder="" value="">
                </mat-form-field>
    
                <mat-form-field style="display:block !important" class="example-full-width login-field">
                    <mat-label class="signin-label">Dein Passwort</mat-label>
                    <input class="signin-input" matInput placeholder="" value="">
                </mat-form-field>

                <mat-form-field style="display:block !important" class="example-full-width login-field">
                    <mat-label class="signin-label">Dein Passwort</mat-label>
                    <input class="signin-input" matInput placeholder="" value="">
                </mat-form-field>
    
                <button id="signin">Registrieren</button>
    
            </div>
        </form>
    
    </div>
    