<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      attr.role="dialog"
      mode="over"
      opened="false">
    <mat-toolbar>Ekko</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Städte-Ranking</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active">QR-Code scannen</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Magazin</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Einstellungen</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Hilfe</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="center-bar-text"> {{ PageName }} </span>
    </mat-toolbar>
    

    <router-outlet></router-outlet>
    <div id="bottomNavigation">
      <ngx-bottom-nav [items]="items"></ngx-bottom-nav>
    </div>
    <button mat-fab color="primary" id="fab" (click)="show_objects()">
      <mat-icon>add</mat-icon>
    </button>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
