<div class="shop-view">
    <div class="shop-content">
        <div class="avaiable-amount">
            <img src="./assets/svg-shop/flower.svg" width="20px">
            <span class="blueten-number">0 Blühten</span>
        </div>

        <p>
            Spende an unsere Partner NGO's <br> und erhalte exklusive Pflanzen <br> für deinen Garten!
        </p>

        <button>Spenden</button>
    </div>
    <div class="shop-elements">

        <div class="shop-item">
                <div class="item-content">
                    <img src="./assets/svg-shop/white-tree.svg" height="75px">
                    
                    <div class="avaiable-amount" style="margin-top:20px;">
                        <img src="./assets/svg-shop/flower.svg" width="20px">
                        <span class="blueten-number">5 Blühten</span>
                    </div>
                </div>
        </div>

        <div class="shop-item">
                <div class="item-content">
                    <img src="./assets/svg-shop/pink-tree.svg" height="75px">
                    
                    <div class="avaiable-amount" style="margin-top:20px;">
                        <img src="./assets/svg-shop/flower.svg" width="20px">
                        <span class="blueten-number">7 Blühten</span>
                    </div>
                </div>
        </div>

        <div class="shop-item">
                <div class="item-content">
                    <img src="./assets/svg-shop/pink-busch.svg" height="75px">
                    
                    <div class="avaiable-amount" style="margin-top:20px;">
                        <img src="./assets/svg-shop/flower.svg" width="20px">
                        <span class="blueten-number">5 Blühten</span>
                    </div>
                </div>
        </div>

        <div class="shop-item">
                <div class="item-content">
                    <img src="./assets/svg-shop/white-tree-2.svg" height="75px">
                    
                    <div class="avaiable-amount" style="margin-top:20px;">
                        <img src="./assets/svg-shop/flower.svg" width="20px">
                        <span class="blueten-number">7 Blühten</span>
                    </div>
                </div>
        </div>

    </div>
</div>